/* Estilos do header */
.header {
    background-color: #ffffff;
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 100px);
    border-radius: 15px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.265rem 1.25rem;
}

.logo img {
    height: 48px;
}

.header-nav ul {
    display: flex;
    gap: 2.5rem;
}

.header-nav a,
.header-nav-right a {
    font-size: 1.25rem;
    color: #333333;
    transition: color 0.3s;
}

.header-nav a:hover,
.header-nav-right a:hover {
    color: #7c3aed;
}

.header-nav-right ul {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.header-nav-right img {
    height: 20px;
}

.header-nav-right a:hover img {
    opacity: 0.7;
}

.nav-container {
    display: flex;
   justify-content: space-around;
   width: 100%;
   align-items: center;
}

.menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    width: 30px;
    height: 30px;
}

.menu-icon img {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
}

.menu-icon:hover img {
    opacity: 0.7;
}

@media (max-width: 1280px) {
    .header {
        width: calc(100% - 40px);
    }

    .menu-icon {
        display: block;
        width: 30px;
        height: 30px;
        cursor: pointer;
        z-index: 1001;
    }

    .nav-container {
        position: fixed;
        top: 0;
        right: -100%;
        width: 200px;
        flex-direction: column;
        padding: 45px 20px 20px;
        background-color: #ffffff;
        border-radius: 15px;
        transition: 0.3s right ease;
        align-items: flex-start;
    }

    .header-nav,
    .header-nav-right {
        width: 100%;
        text-align: center; 
    }

    .header-nav li,
    .header-nav-right li {
        width: 100%;
        text-align: center;
    }

    .header-nav ul,
    .header-nav-right ul {
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;
        padding: 0;
    }

    .header-nav ul li,
    .header-nav-right ul li {
        width: 100%;
    }

    .header-nav a,
    .header-nav-right a {
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;
        padding: 0;
    }

    .header-nav a,
    .header-nav-right a {
        width: 100%;
        border-bottom: 1px solid #eeeeee;
        padding: 0.3rem 0;
        font-size: 1rem; 
        display: block;
    }

    .header-nav-right a {
        display: flex;
        align-items: center;
    }

    .menu-toggle:checked ~ .nav-container {
        right: 0;
    }
}
