/* Estilos do header */
.header {
    background-color: #ffffff;
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 210px);
    border-radius: 15px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.265rem 1.25rem;
}

.logo img {
    height: 48px;
}

.header-nav ul {
    display: flex;
    gap: 2.5rem;
}

.header-nav a,
.header-nav-right a {
    font-size: 1.25rem;
    color: #333333;
    transition: color 0.3s;
}

.header-nav a:hover,
.header-nav-right a:hover {
    color: #7c3aed;
}

.header-nav-right ul {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.header-nav-right img {
    height: 20px;
}

.header-nav-right a:hover img {
    opacity: 0.7;
}
