.highlight {
    grid-area: top1;
}

.sneaker-purple {
    grid-area: top2;
}

.model {
    grid-area: midL;
}

.sneaker-color {
    grid-area: midR;
}

.sneaker-white {
    grid-area: bottomL; 
}

.sneaker-gray {
    grid-area: bottomR;
}     

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas: 
        "highlight highlight top2 top2"
        "highlight highlight"
        "bottomL bottomR";
    gap: 20px;
    margin-top: 20px;
}